.dllist>li{
    list-style-type: none;
    border-top: 3px solid rgb(192, 118, 53);

}
ul li ul li{
    letter-spacing: 1px;
}
.label{
    margin: 0px 4px;
}
.btn{
    margin: 10px 25px;

}
.date{
    font-size: 20px;
}
.dllist>li li{
    font-size: 14px;
}
img{
 width:auto;
 height:auto;
 max-width:100%;
 max-height:100%;
}
.ads{
    display: none;
}
.ui-loader-default{ display:none}  
.ui-mobile-viewport{ border:none;}  
.ui-page {padding: 0; margin: 0; outline: 0}   
#header{
    margin: 40px 0px;
}
.dllist>li{
    margin-bottom: 10px;
    background-color: rgb(255, 231, 211);
    padding: 5px 15px;
    border-radius: 5px;
}
body{
    background-color: rgb(220, 155, 97);
}
.container{
    margin-bottom: 80px;
}
.dllist{
    padding: 0px;
}